<div id="col1">
  <div id="col1_content" class="clearfix">
    <%= image_tag "ibook.jpg", :size => "80x80" %>
    <br \> 
    <div class="info">
      <!-- add your content here -->
      <p><%= link_to 'Computer List', computers_path %><p>
    </div>
  </div>
</div>
<div id="col3">
  <div id="col3_content" class="clearfix">
    <h3>Create New Computer</h3>
    <%= render 'form' %>
  </div>
</div>

