
<p>Welcome to the Rosa Parks JBBP Macintosh Database!!</p>
<p>This tool is used to track all JBBP Macintoshes, batteries and any
  issues they may have.</p>
<p>Use the navigation bar on the left to navigate through the site.  To see a list
  of all computers select the "Computers" link.  To see a list of all
  batteries click the "Batteries" link.<p>
<p>Todo

<ol>
  <li> <strike>Update Remove Battery from Computer so it doesn't delete the
  battery but simply makes the foreign key null</strike></li>
  <li> Deal with index and show views for batteries and computers when
  battery info is nil</li>
  <li> Add ability to add an existing battery to computer via a drop
  down list on computer show view</li>
  <li>When adding battery via pull down list, only add batteries that
  are not associated with a computer to the list</li>
  <li>Add filters to computer and battery lists based on status.
  Default to "active" computers.</li>
  <li>Add a reports page and a bunch of reports</li>
  <li>Add Issues MVC</li>
  <li>Add Users MVC</li>
  <li>Add "login" functionality</li>
  <li>Add logging functionality</li>  
  <li>Add tests</li>
  <li>Add github support and run on hosted rails server</li>
</ol>

<br \><br \><br \><br \><br \<br \>


