
<p>Welcome to the Rosa Parks JBBP Macintosh Database!!</p>
<p>This tool is used to track all JBBP Macintoshes, batteries and any
  issues they may have.</p>
<p>Use the navigation bar on the left to navigate through the site.  To see a list
  of all computers select the "Computers" link.  To see a list of all
  batteries click the "Batteries" link.<p>
<p>Todo

  <li><b>batteries/index.html.erb</b></li>
  <ol>
    <li><strike>Enable column heading link to sort by asc/desc</strike></li>
    <li><strike>Add "filters" to index based on status (single or
      multiple)</strike></li>
    <li><strike>change status font/color for different statuses (green,
   yellow, red)</strike></li>
    <li>get sort and filtering to work together</li>
  </ol>

  <li><b>batteries/show.html.erb:</b></li>
  <ol>
    <li><strike> Add "add another battery" to battery.show
    page</strike></li>
    <li><strike>change status font/color for different statuses (green,
   yellow, red)</strike></li>
  </ol>

  <li><b>batteries/_form.html.erb</b></li>
 <ol>
    <li><strike>sort the computer dropdown list on the "edit battery" page</strike></li>
    <li>When adding battery via pull down list, only add batteries that
      are not associated with a computer to the list</li>
  </ol> 


 <li><b>computers/index.html.erb: </b></li>
  <ol>
    <li><strike>Enable column heading link to sort by asc/desc</strike></li>
    <li> Add "full list" for index.html.erb view for computers</li>
    <li><strike>on computer index page make battery info linkable to battery
      show page</strike></li>
    <li><strike>Add "filters" to index based on status (single or
    multiple)</strike></li>
    <li><strike>change status font/color for different statuses (green,
   yellow, red)</strike></li>
    <li>Use "scope" in computers.rb model to filter computers</li>
    <li>Get sort and filtering to work together</li>
  </ol>
  
  <li><b>computers/show.html.erb</b></li>
  <ol>
   <li><strike>change status font/color for different statuses (green,
   yellow, red)</strike></li>
 </ol>

  <li><b>computers/edit.html.erb (_form.html.erb</b></li>
  <ol>
    <li>When no battery is present add ability to add an existing battery to computer via a drop
      down list on computer show view</li>
    <li> When battery is present add ability to change it via a drop
      down list</li>
    <li>Fix "home/index" link....its not working on this page</li>
  </ol>


  <li><b>CSS Updates</b></li>
  <ol>
    <li>Make dark blue/shiro/aka</li>
    <li>Steal round buttons for links from the rails tutorial
      book</li>
  </ol>
  
  <li><b>JLIP Asset Tag View</b></li>
  <ol>
    <li>Create Asset Tag View to view all assets, batteries and
    computers.</li>
    <li>create "sort" links on index.html.erb</li>
  </ol>

  <li><b>Create Dashboard Pages</b></li>
  <ol> 
    <li># of computers working, number that
      need to be plugged in and the number that have been retired.  List
      names for all of them also.  </li>
    <li>others?</li>
  </ol>

  <li><b>Create Search Pages</b></li>
  <ol> 
    <li> Search pages: battery by serial number and jlip, computer by
      serial number and jlip. </li>
  </ol>

  <li><b>Add Notes and Support Ticket MVC</b></li>
  <ol>
      <li>todo</li>
  </ol>
  
  <li><b>Add Users MVC</b></li>
  <ol>
    <li>Add Login functionality
    <li>Add logging functionality</li>  
    <li>Add sign up functionality</li>
    <li>Add change pw and pw reset</li>
  </ol>

  <li><b>Misc</b></li>
  <ol>
    <li>Add tests</li>
    <li>Add git and github support</li>
    <li>Run on hosted rails server</li>
  </ol>


  <li> Completed Tasks:</li>
  <ol>
    <li> <strike>Update Remove Battery from Computer so it doesn't delete the
	battery but simply makes the foreign key null</strike></li>
    <li><strike>Deal with index and show views for batteries and computers when
	battery info is nil</strike></li>
  </ol>
</ol>

<br \><br \><br \><br \><br \<br \>


