<h1>About</h1>
<ul>
  <li><a href="http://guides.rubyonrails.org/getting_started.html">Rails - Getting Started</a></li>
  <li><a href="http://guides.rubyonrails.org/migrations.html">Rails - Migrations</a></li>
  <li><a href="http://guides.rubyonrails.org/routing.html">Rails - Routing</a></li>
  <li><a href="http://guides.rubyonrails.org/association_basics.html">Rails- Association Basics</a></li>
  <li><a href="http://ruby.railstutorial.org/ruby-on-rails-tutorial-book">Ruby on Rails Tutorial Book</a></li>
  <li><a href="http://fairleads.blogspot.com/2008/01/this-is-second-part-of-my-series.html">FairLeads Rails Tutorial</a></li>
</ul>
<br \>
<br \>
<br \>
<br \>
<br \>
<br \>
<br \>
<br \>
<br \>
<br \>
<br \>

