<h1>Todo List</h1>

<ul>
  <li><b>General</b></li>
  <ul>
    <ol>
      <li>figure out bettery way to navigate.  currently results pages
	are hard coded and its not working.  Research this but perhaps
	"pass" in the "return-to" page somewhere in the
	post/get/put/delete message?</li>
      <li>Can I make the notice and alerts pop up?  What about "flash"</li>
    </ol>
  </ul>

  <li><b>batteries/index.html.erb</b></li>
  <ul>
    <ol>
      <li>get sort and filtering to work together</li>
      <li>default view should be any except "retired"</li>
      <li>On index page, link to "notes" page for any status other than
	"good"</li>
    </ol>
  </ul>

  <li><b>batteries/edit.html.erb:</b></li>
  <ul>
    <ol>  
    </ol>
  </ul>

  <li><b>batteries/show.html.erb:</b></li>
  <ul>
    <ol>  
    </ol>
  </ul>


  <li><b>batteries/_form.html.erb</b></li>
  <ul>
    <ol>  
    </ol>
  </ul>

  <li><b>computers/index.html.erb: </b></li>
  <ul>
    <ol>
      <li> Add "full list" for index.html.erb view for computers</li>
      <li>Use "scope" in computers.rb model to filter computers</li>
      <li>Get sort and filtering to work together</li>
      <li>On index page, link to "notes" page for any status other than
	"good"</li>
      <li>default view should be any except "retired"</li>
    </ol>
  </ul>
  
  <li><b>computers/show.html.erb</b></li>
  <ul>
    <ol>
      <li>hook up "Add Existing Battery" drop down box, make sure only
	batteries that are not already in a computer and not dead are listed</li>
    </ol>
  </ul>

  <li><b>computers/edit.html.erb (_form.html.erb)</b></li>
  <ul>
    <ol>
      <li>When computer has a battery show battery and add "remove
	battery from comptuer" link and action</li>
      <li>When computer does not have a batter add and hook up "Add Existing Battery" drop down box, make sure only batteries that are not already in a computer and not dead are listed</li>
      <li>Fix "home/index" link....its not working on this page</li>
    </ol>
  </ul>

  <li><b>notes</b></li>
  <ul>
    <ol>
      <li>add remove note from computer and battery show pages</li>
      <li>hide foreign keys in hidden for field?</li>
    </ol>
  </ul>

  <li><b>CSS Updates</b></li>
  <ul>
    <ol>
      <li>Steal round buttons for links from the rails tutorial
	book</li>
    </ol>
  </ul>
  
  <li><b>JLIP Asset Tag View</b></li>
  <ul>
    <ol>
      <li>Create Asset Tag View to view all assets, batteries and
	computers.</li>
    </ol>
  </ul>

  <li><b>Create Dashboard Pages</b></li>
  <ul>
    <ol> 
      <li># of computers working, number that
	need to be plugged in and the number that have been retired.  List
	names for all of them also.  </li>
      <li>others?</li>
    </ol>
  </ul>

  <li><b>User/Login/AuthN</b></li>
  <ul>
    <ol>
      <li>Add change pw and pw reset to a new "Account" page</li>
   </ol>
  </ul>

  <li><b>Misc</b></li>
  <ul>
    <ol>
      <li>Add tests</li>
      <li>Add git and github support</li>
      <li>Run on hosted rails server</li>
      <li>make a model for the following pulldown lists</li>
      <ul>
	<ol>Computer Model</ol>
	<ol>Battery Model</ol>
	<ol>OS Version</ol>
	<ol>Battery Status values?</ol>
	<ol>Computer Status values?</ol>
      </ul>

    </ol>
  </ul>
</ul>
