<h1>Todo List</h1>

  <li><b>General</b></li>
  <ol>
   <li>figure out bettery way to navigate.  currently results pages
      are hard coded and its not working.  Research this but perhaps
      "pass" in the "return-to" page somewhere in the
      post/get/put/delete message?</li>
    <li>make forms look better.  YAMLize them</li>
    <li>fix update the "notice" feature.  Make it a popup like the
      ruby rails book does???</li>
  </ol>
  
  <li><b>batteries/index.html.erb</b></li>
  <ol>
   <li>get sort and filtering to work together</li>
   <li>make entire row clickable on index page for all models - link to
     show</li>
   <li>On index page, link to "notes" page for any status other than
     "good"</li>
  </ol>


  <li><b>batteries/edit.html.erb:</b></li>
  <ol>
    <li>Update computer select drop down list to only show compters
    that don't already have a battery installed and that are not
    retired or not working</li>
    </ol>

  <li><b>batteries/show.html.erb:</b></li>
  <ol>
   <li>Clean up notes view when notes is null</li>
  <li>from battery show page add link to computer show page (belongs
      to coputer</li>
</ol>

  <li><b>batteries/_form.html.erb</b></li>
  <ol>
   <li>When adding battery via pull down list, only add batteries that
      are not associated with a computer to the list</li>
  </ol> 

  <li><b>computers/index.html.erb: </b></li>
  <ol>
   <li> Add "full list" for index.html.erb view for computers</li>
   <li>Use "scope" in computers.rb model to filter computers</li>
    <li>Get sort and filtering to work together</li>
   <li>make entire row clickable on index page for all models - link to
     show</li>
   <li>On index page, link to "notes" page for any status other than
     "good"</li>
  </ol>
  
  <li><b>computers/show.html.erb</b></li>
  <ol>
    <li>from computer show page add link to battery show page (click jlipid)</li>

   <li>hook up "Add Existing Battery" drop down box, make sure only
   batteries that are not already in a computer and not dead are listed</li>
</ol>

  <li><b>computers/edit.html.erb (_form.html.erb</b></li>
  <ol>
    <li>When computer has a battery show battery and add "remove
    battery from comptuer" link and action</li>
    <li>When computer does not have a batter add and hook up "Add Existing Battery" drop down box, make sure only
      batteries that are not already in a computer and not dead are listed</li>
    <li>Fix "home/index" link....its not working on this page</li>
  </ol>

  <li><b>CSS Updates</b></li>
  <ol>
   <li>Steal round buttons for links from the rails tutorial
      book</li>
 </ol>
  
  <li><b>JLIP Asset Tag View</b></li>
  <ol>
    <li>Create Asset Tag View to view all assets, batteries and
    computers.</li>
 </ol>

  <li><b>Create Dashboard Pages</b></li>
  <ol> 
    <li># of computers working, number that
      need to be plugged in and the number that have been retired.  List
      names for all of them also.  </li>
    <li>others?</li>
  </ol>

  <li><b>Create Search Pages</b></li>
  <ol> 
    <li> Search pages: battery by serial number and jlip, computer by
      serial number and jlip. </li>
  </ol>

 <li><b>Add Users MVC</b></li>
  <ol>
    <li>Add Login functionality</li>
    <li>Add logging functionality</li>  
    <li>Add sign up functionality</li>
    <li>Add change pw and pw reset</li>
  </ol>

  <li><b>Misc</b></li>
  <ol>
    <li>Add static pages - todo, passwords, wifi, software.  
    <li>Add tests</li>
    <li>Add git and github support</li>
    <li>Run on hosted rails server</li>
  </ol>


<br \><br \><br \><br \><br \<br \>


