// Place all the styles related to the Computers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*
.pretty th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

.pretty th .asc {
  background-image: url(/assets/small_up_arrow_icon.gif);
}

.pretty th .desc {
  background-image: url(/assets/small_down_arrow_icon.gif);
}
*/