<h1>H1 Heading</h1>
<table class="full">
  <caption>Table Heading</caption>
  <tbody>
    <tr>
      <th>Col 1</th>
      <th>Col 2</th>
      <th>Col 3</th>
    </tr>
    <tr>
      <th>Row 1</th>
      <td>content 1.1</td>
      <td>content 1.2</td>
    </tr>
    <tr>
      <th>Row 2 </th>
      <td>content 2.1</td>
      <td>content 2.3</td>
    </tr>
  </tbody>
</table>
<div class="subcolumns">
  <div class="c50l">
    <div class="subcl">
      <!-- Insert your subtemplate content here -->
      <h1>H1 Heading</h1>
    </div>
  </div>
  <div class="c50r">
    <div class="subcr">
      <!-- Insert your subtemplate content here -->
      <h1>H1 Heading</h1>
    </div>
  </div>
</div>

