<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<title>
  <%= title %> <%= controller %> <%= controller.action_name %>
</title>

<!-- add your meta tags here -->
<%= stylessheet_link_tag "css/my_layout.css %>
<link href="css/my_layout.css" rel="stylesheet" type="text/css" />
<!--[if lte IE 7]>
<%= stylesheet_link_tag "css/patches/patch_my_layout.css" %>
<link href="css/patches/patch_my_layout.css" rel="stylesheet" type="text/css" />
<![endif]-->
<%= javascript_include_tag "application" %>
<%= javascript_include_tag "prototype" %>
<%= csrf_meta_tags %>
</head>
<body>
  <div class="page_margins">
    <!-- start: skip link navigation -->
    <!-- end: skip link navigation -->
    <div id="border-top">
      <div id="edge-tl"></div>
      <div id="edge-tr"></div>
    </div>
    <div class="page">
      <div id="header">
        <div id="topnav">
          <!-- start: skip link navigation -->
          <a class="skip" title="skip link" href="#navigation">Skip to the navigation</a><span class="hideme">.</span>
          <a class="skip" title="skip link" href="#content">Skip to the content</a><span class="hideme">.</span>
          <!-- end: skip link navigation --><a href="#">Login</a> | <a href="#">Contact</a> | <a href="#">Imprint</a>
        </div>
      </div>
      <div id="nav">
        <!-- skiplink anchor: navigation -->
        <a id="navigation" name="navigation"></a>
        <div class="hlist">
          <!-- main navigation: horizontal list -->
          <ul>
            <li class="active"><strong>Button 1</strong></li>
            <li><a href="#">Button 2</a></li>
            <li><a href="#">Button 3</a></li>
            <li><a href="#">Button 4</a></li>
            <li><a href="#">Button 5</a></li>
          </ul>
        </div>
      </div>
      <div id="main">
	
        <div id="col1">
          <div id="col1_content" class="clearfix">
            <!-- add your content here -->
	    <h1> Navigate <h1>
	    <p><%= link_to 'Computers', computers_path %></p>
	    <p><%= link_to 'Batteries', batteries_path %></p>
	    <p><%= link_to 'Notes', notes_path %></p>      
	    <p><%= link_to 'About', about_path %></p>
	    <p><%= link_to 'Contact', contact_path %></p>
	    <br \>
	    <p><%= link_to 'Home', 'home/index' %></p>
          </div> <!-- "col1_content" -->
        </div> <!-- "col1" -->
	
        <div id="col3">
          <div id="col3_content" class="clearfix">
            <!-- add your content here -->
            <% yield %>
          </div> <!-- "col3_content" -->
          <!-- IE Column Clearing -->
          <div id="ie_clearing"> &#160; </div>
        </div> <!-- "col3" -->
	
      </div> <!-- "main" -->
      <!-- begin: #footer -->
      <div id="footer">(c) Alex Deacon 2011L</a>
      </div> <!-- "footer" -->
    </div>
    <div id="border-bottom">
      <div id="edge-bl"></div>
      <div id="edge-br"></div>
    </div>
  </div>
</body>
</html>